#container {
	margin: 0 auto;
	position: relative;
	width: 300px;
}

.squares {
	width: 100px;
	height: 100px;
}

.X {
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
	background-image: url("../img/rapid.gif");
}

.O {
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
	background-image: url("../img/austria.gif");
}

button {
    margin-left: 34%;
}

